<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card mb-3 mx-auto p-4" style="max-width: 650px;">
  <div class="row g-0">
    <div class="col-md-4 p-2">
      <img src="{{movie.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body mt-3">
        <h5 class="card-title">Title:{{movie.title}}</h5>
        <p class="card-text">Description:{{movie.description}}</p>
        <p class="card-text"><small class="text-muted">Language:{{movie.language}}</small></p><p class="card-text"><small class="text-muted">Year:{{movie.year}}</small></p>
         <a href="{% url 'delete' movie.id %}" class="btn grey">Delete</a>
          <a href="{% url 'edit' movie.id %}" class="btn grey">Edit</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}